body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}

th {
  background-color:  black;
  color: white;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: palevioletred;
}

tr:nth-child(odd) td {
  background-color: pink;
}

input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
}